<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="container">
    <div th:if="${param.error != null}" th:text="${param.error}"></div>
    <div th:if="${param.error != null}" th:text="${param.success}"></div>
    <h1 th:text="${titulo}"></h1>
    <a th:href="@{/form}"> crear +</a>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">nombre</th>
            <th scope="col">precio</th>
            <th scope="col">fecha</th>
            <th scope="col">categoria</th>
            <th scope="col">editar</th>
            <th scope="col">eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto: ${productos}">
            <th><a th:href="${'/ver/' + producto.id}" th:text="${#strings.abbreviate(producto.id, 10)}"></a></th>
            <th th:text="${producto.nombre}"></th>
            <th th:text="${producto.precio}"></th>
            <th th:text="${producto.date}"></th>
            <th th:text="${producto.categoria.nombre}"></th>
            <th><a th:href= "${'/form/'+producto.id}">Editar</a></th>
            <th><a th:href= "${'/eliminar/'+producto.id}" onclick="return confirm('esta seguro que desea elminar');">Eliminar</a></th>
        </tr>
        </tbody>
    </table>
</body>
</html>